name: Automate Build & Deploy

on:
  push:
    branches:
      - main

jobs:
  tests:
    runs-on: ubuntu-latest
    name: Test Whole Code

    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/checkout@v2
        with:
          node-version: 18
      - name: Clean Install
        run: npm ci
      - name: Run Test
        run: npm run test
